*{
    box-sizing: border-box;
}
body{
    background-image: url(photos/body-background.jpg);
    background-size: cover;
    width: 365px;
    margin: auto auto;
}
/* budget input session (top page)*/
.budget-input-container{
    width: 340px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    padding-left: 20px;
    background-image: url(./photos/money.jpg);
    background-size: cover;
}
.budget-input-container h3{
    color: white;
    font-size: 1.2em;
    margin-top: 13px;
}
.budget-input{
    height:30px;
    width: 200px;
}
.btn{
    height: 30px;
}
.budget-input-container .btn{
    background-color: rgba(138, 224, 138, 0.884);
    border: 1px solid green;
}

/* net result session (middle page) */
/* items are forced to stay in 1 line - nowrap by default */
.net-result{
    width: 330px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.net-result span{
    font-size: 1.3em;
}

/* Expenses input session */
.expenses-input-container{
    background-image: url(./photos/expense-money.jpg);
    background-size: cover;
    width: 340px;
    height: 330px;
    border: 1px solid black;
    display: flex;
    padding-left: 20px;
    align-items: center;
    flex-wrap: wrap;
    color: whitesmoke;
}
.expenses-input-container input{
    height: 30px;
    width: 300px;
}
.expenses-input-container .btn{
    background-color: rgba(226, 122, 122, 0.884);
    border: 1px solid red;
}

.expense-items-table{
    text-align: center;
}

th, td{
    font-size: 1.5em;
    padding:10px; 
}

.category-heading{
    font-weight: bold;
    font-size: 1.5em;
}

.img-container{
    display: flex;
    justify-content: center;
}

#face-img{
    width: 50px;
    height: 65px;
    padding-top: 15px;
}

.hide-item {
    display: none;
}
